body{
    background-color: rgb(252, 252, 252);
    width: 100%;
    height: 700px;
    margin: 0px;
    backdrop-filter:blur(2px);
}
.window{
    width: 400px;
    height: 300px;
    background-color: rgba(247, 178, 17, 0.377);
    border: 2px double black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%) ;
     backdrop-filter: none;
    
}

.close{
    position: absolute;
    left: 90%;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-image: url(pictures/close.png);
}
.close:hover{
    width: 35px;
    height: 35px;
}
.span{
    width: 350px;
    height: 147px;
    margin: 44px;
}
.text{
    font: normal normal 500 18px/42px Ubuntu;
    color: #473434;
    line-height: normal;
    align: center;

}
.buttons{
    display: flex;
    gap: 100px;
    position: relative;
    left: 80px;
    width: 250px;
}
.button{
    text-align: center;
    font: normal normal 700 14px/42px Ubuntu;
    letter-spacing: 0.2px;
    color: #162910;
    background-color: rgb(196, 194, 194);
    border: 2px double rgb(10, 10, 10);
    width: 80px;
    height: 50px;
    text-transform: uppercase;
}
.button:hover{
    background-color: aliceblue;
}
.button:active{
    background-color: rgb(43, 235, 43);
}